Makefile
config.args
config.h
inc.h

*.a
*.d
*.o
*.so
*.user
*.bak
*.dll
*.exe
*.flac
*.wav
*.acw

*.swp
*.swo

acw/acw.h
acw/cli/acw
hax/hax.h
hax/test/hax-test
dsp/libdsp.h
core/amplib.h
core/doc/bld
lang/cli/muselang
lang/test/muselang-test
lang/muselang.h
rt/amprt
rt/amprt.h
tut/bld

/bin
/include
/lib
/share
